#appbar {
  background-color: rgb(247, 251, 253);
  position: sticky;
}

#toolbar {
  gap: 12.5%;
}

#logo {
  font-family: 'Brush script MT';
  font-size: 45px;
  text-transform: capitalize;
  margin-left: 8%;
}

#searchbar {
  height: 13px;
  box-shadow: 0 0 2pt rgb(119, 119, 119);
  padding-left: 13px;
  padding-right: 55px;
  color: rgb(119, 119, 119);
  margin-left: 10%;
}

#homeicon {
  color: black;
  width: 33px;
  height: 63px;
  margin-right:-2450%;
  position: relative;
}

#postimage {
  margin-top: -5%;
  margin-right: -32%;
  height: 10%;
  width: 57%;
  transition-duration: 0.4s;
  background-color: white;
}

#postimage:hover{
  background-color: darkgrey;
  color:white;
}

#button{
  margin-top: -14%;
  margin-right:-140%
}

@media only screen and (max-width: 1200px) {
  #postimage {
    margin-right: 30%;
  }
}

@media only screen and (max-width: 800px) {
  #postimage {
    margin-right: 120%;
    margin-top: 2%;
  }
}

@media only screen and (max-width: 650px) {
  #postimage {
    margin-right: 130%;
    width: max-content;
  }
}

@media only screen and (max-width: 500px) {
  #postimage {
    margin-right: 110%;
    margin-top: 7%;
    width: max-content;
  }
}
