@import url("http://fonts.cdnfonts.com/css/billabong");

#appbar {
  background-color: rgb(247, 251, 253);
  position: sticky;
}

#toolbar {
  gap: 12.5%;
}

#logo {
  font-family: "Billabong", sans-serif;
  font-size: 40px;
  text-transform: capitalize;
  margin-left: 8%;
}

#searchbar {
  height: 13px;
  box-shadow: 0 0 2pt rgb(119, 119, 119);
  padding-left: 13px;
  padding-right: 55px;
  color: rgb(119, 119, 119);
  margin-left: 10%;
}

#homeicon {
  color: black;
  width: 33px;
  height: 63px;
  position: relative;
}

#postimage {
  margin-top: -24.5%;
  margin-right: -66%;
  height: 10%;
  width: 57%;
}

#button{
  margin-top: -14%;
}

@media only screen and (max-width: 1000px) {
  #searchicon {
    margin-left: -80.9%;
  }
}
