#inline {

    text-align: left;
    display: inline;
    font-size: 10px;
    margin: 10px;
    color : #3b5998

}
.like{
    
    text-align: left;
    display: inline;
    font-size: 10px;
    margin: 10px;
    cursor: pointer;

}

#like{

    color: red;

}

