#inline {

    text-align: left;
    display: inline;
    font-size: 12px;
    margin-top: 10px;
    color : #3b5998;
    /* margin-left:10px; */

}
.like{
    
    text-align: left;
    display: inline;
    font-size: 10px;
    margin: 10px;
    cursor: pointer;

}

#like{

    color: red;

}
.description{

    margin-top: 10px;
}

.overflow{
    overflow: scroll;
    height: 128.812px;
    width: 396px;
    margin-left:10px;
    font-size: 12px;
   
}