#inline {

    text-align: left;
    display: inline;
    font-size: 12px;
    margin: 10px;
    color : #3b5998;
    margin-left:20px;

}
.like{
    
    text-align: left;
    display: inline;
    font-size: 10px;
    margin: 10px;
    cursor: pointer;

}

#like{

    color: red;

}
.description{

    margin-top: 10px;
}

