#img {
  max-width: 50vmin;
  height: auto;
  margin: 10px;
}
#bg {
  padding: 50px;
}
#loading {
  margin: 25px;
  transition-duration: 0.4s;
  background-color: white;
}

#loading:hover{
  background-color: darkgray;
  color: white;
}

#select{
  transition-duration: 0.4s;
  background-color: white;
}

#select:hover{
  background-color: darkgray;
  color: white;
}

