

.contain{
font-weight: bold;

/* margin-right:10px; */
margin-top:10px; 
color :#3b5998;
padding: 10px;
font-size: 10px;
}

.avatar{

    position : absolute;
   
     display:block; 
 
} 

.avatar:hover{
    cursor: pointer ;
} 

#name {
    
    color:black;
    font-size: 13px;
    display: inline;
    text-align: right;
    margin-top: 2px;
   
    
}

#follows{
margin-left: 10px;
font-size: 15px;
display:inline;

 }

