

.contain{
font-weight: bold;
margin-left:10px;
margin-right:10px;
/* margin-top:10px; */
/* color :#3b5998; */
padding: 10px;
font-size: 10px;
}

.avatar{

    position : absolute
   
    /* display:block; */

    }

#name {
    
    color:blanchedalmond;
    font-size: 13px;
    display: inline;
    margin-left: 50px;
    
}

#follows{
margin-left: 60px;
font-size: 15px;
display:inline;
 }

